black==25.1.0
click==8.2.1
iniconfig==2.1.0
isort==6.0.1
mypy==1.15.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pyright==1.1.401
pytest==8.3.5
ruff==0.11.10
typing_extensions==4.13.2
