Flask==3.1.0
Flask-Login
Flask-SQLAlchemy
Flask-Migrate==4.0.5
Flask-SocketIO==5.3.6
flask-cors==4.0.0
eventlet==0.33.3
gunicorn==21.2.0
psycopg2-binary
requests==2.31.0
pandas
xlsxwriter
reportlab  # 如启用 PDF 功能则保留
